body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 75px 1fr;
    font-family: Helvetica, Sans-Serif;
}

.color4 {
    background-color: #DFF2EB;
}

.color3 {
    background-color: #B9E5E8;
}

.color2 {
    background-color: #7AB2D3;
}

.color1 {
    background-color: #4A628A;
}

.off-white {
    background-color: #fcfcfd;
}

.nav-bar {
    grid-row: 1 /3;
    background-color: #4A628A;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

#header {
    grid-column: 2 / 3;
    background-color: #4A628A;
}

.content {
    grid-row:  2 / 3;
    grid-column: 2 /3;
    background-color: #fcfcfd;
}

.form-container {
    display: flex;
    flex-direction: column;
  
  }
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  label {
    padding-top: 5px;
  }

  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on your design */
    }
    
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .hidden {
    display: none;
  }


  .todo-card {
    border: 1px solid red;
  }
  